
<div class="jumbotron">
	<h1>Hey Becca, I'm reinventing Pinterest</h1>
	<p>Click here to <%= link_to "Log in", "http://www.facebook.com/jake.hage", class: "btn btn-default btn-lg" %> or
	 <%= link_to "Sign Up", "http://twitter.com/atlaswalked", class: "btn btn-primary btn-lg"%> </p>
</div>